<%  if action == :edit 
      action = band_url(bands)
      button_txt = "Update Band"
    else
      action = bands_url
      button_txt = "Submit"
    end 
 %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token  %> ">
  
  <label for="name">Name: </label>
  <input type="name" name="band[name]" value="<%= @bands.name %>"><br>
  
  <input type="submit" value="<%= button_txt %>">
</form>