/* PHASE 5: Cats */
.content-header {
  min-height: 200px;
  width: 900px;
  background: url("../cats.jpg");
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: flex-end;
}
.content-header h1 {

  margin: 0 auto;
  line-height: 1;
  color: white;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #000;
}

.content-header button {
  background: #eee;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 20px;
}

.content-header button:hover {
  background: #ccc;
}
