/* PHASE 9: Forms */
.input {

  padding: 10px;
}
/* .input > input, .input > textarea {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
} */
.form-fieldset{
  float: left;
  padding: 20px;
  background: #eee;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* .real-form {
  float: left;
  display: block;
  background: #eee;
  margin-left: 20px;
  min-height: 400px;
} */
.real-form input, .real-form textarea {
  display: block;
  background: white;
  border: 1px solid #ccc;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  background: white;
}

.real-form  textarea {
  height: 120px;
}
.input a {
  float: left;
}